---
# Phase 3 - step B
#
# This playbook downloads the hana software defined
# in the list {{ sap_hana_software }} to {{ sap_hana_install_software_directory }}
#
# The role sap_hana_install unpacks the software in {{ sap_hana_install_software_directory }}
# Then it calls the installation of SAP HANA with the configured paramters

- name: Phase 3-B - Install Hana
  hosts: gcp_awx_group_hana
  become: true
  vars:
    suser_id: "{{lookup('env', 'SAP_SUPPORT_DOWNLOAD_USERNAME')}}"
    suser_password: "{{lookup('env', 'SAP_SUPPORT_DOWNLOAD_PASSWORD')}}"

  tasks:
    - name: ensure sap-software directory exists
      file:
        path: "{{ sap_hana_install_software_directory }}"
        state: directory
        mode: '0755'

    - name: ensure S-USER and PASSWORD are defined
      fail:
        msg: "Please set SAP_SUPPORT_DOWNLOAD_USERNAME and SAP_SUPPORT_DOWNLOAD_PASSWORD"
      when: ( suser_id|trim ==''  )  or  ( suser_password|trim == '' )

    - name: ensure prereqs are installed
      pip:
        name:
              - urllib3
              - beautifulsoup4
              - lxml
              - requests
        state: present

    - name: Execute Ansible Module to download SAP software
      community.sap_launchpad.software_center_download:
        suser_id: "{{ suser_id }}"
        suser_password: "{{ suser_password }}"
        softwarecenter_search_query: "{{ item }}"
        dest: "{{ sap_hana_install_software_directory }}"
      loop: "{{ sap_hana_software }}"

    - name: execute the SAP Hana Installation
      include_role:
        name: community.sap_install.sap_hana_install
