---

# Minimal configuration for installing Single Node S4 HANA

# sap_general_preconfigure
#-------------------------
sap_general_preconfigure_modify_etc_hosts: true
sap_general_preconfigure_update: true
sap_general_preconfigure_fail_if_reboot_required: false
sap_general_preconfigure_reboot_ok: true

# sap_hana_preconfigure
#----------------------
sap_hana_preconfigure_update: true
sap_hana_preconfigure_fail_if_reboot_required: false
sap_hana_preconfigure_reboot_ok: true


# sap_netweaver_preconfigure
#---------------------------
# No definition needed

# sap HANA Software packages for installation 
#---------------------------------------------
sap_hana_software:
  - 'SAPCAR_1115-70006178.EXE'                 #  Sapcar 7.22 Linux x86_64
  - 'IMDB_SERVER20_059_1-80002031.SAR'         #  HANA 2.0 SPS05
  
# sap_hana_install
#------------------
sap_hana_install_software_directory: /sap-software
sap_hana_install_common_master_password: "R3dh4t$123"
sap_hana_install_sid: 'RHA'
sap_hana_install_instance_number: "00"

# SAP Maintenaceplanner ID
#---------------------------------
mp_transaction_name: MP_S4H_DEMO

# sap_swpm 
#----------
# Product ID for New Installation
sap_swpm_product_catalog_id: NW_ABAP_OneHost:S4HANA2020.CORE.HDB.ABAP
# Software
sap_swpm_software_path: /sap-software
sap_swpm_sapcar_path: "{{ sap_swpm_software_path }}"
sap_swpm_swpm_path: "{{ sap_swpm_software_path }}"
# NW Passwords
sap_swpm_master_password: "R3dh4t$123"
sap_swpm_ddic_000_password: "{{ sap_swpm_master_password }}"
# HDB Passwords
sap_swpm_db_system_password: "{{ sap_swpm_master_password }}"
sap_swpm_db_systemdb_password: "{{ sap_swpm_master_password }}"
sap_swpm_db_schema_abap: "SAPHANADB"
sap_swpm_db_schema_abap_password: "{{ sap_swpm_master_password }}"
sap_swpm_db_sidadm_password: "{{ sap_swpm_master_password }}"
# NW Instance Parameters
sap_swpm_sid: S4H
sap_swpm_pas_instance_nr: "01"
sap_swpm_ascs_instance_nr: "02"
sap_swpm_ascs_instance_hostname: "{{ ansible_hostname }}"
sap_swpm_fqdn: "{{ ansible_fqdn }}"
# HDB Instance Parameters
# For dual host installation, change the db_host to appropriate value
sap_swpm_db_host: "rha-hana"
sap_swpm_db_sid: RHA
sap_swpm_db_instance_nr: "00"
