[galaxy]
server_list = release_galaxy, rh_certified_repo

[galaxy_server.rh_certified_repo]
url=https://console.redhat.com/api/automation-hub/content/published
auth_url=https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token

[galaxy_server.release_galaxy]
url=https://galaxy.ansible.com/
